body{
    font-family: Didot;
    color: white;
}
h2{
    text-decoration: underline;
    text-align: center;
}

.note{
    text-align: center;
}
ul{
    margin-left: 39%;
}
h1{
    text-align: center;
}