.main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("photo_2020-03-13 18.39.04.jpeg");
    background-repeat: no-repeat;
    background-size: 130%;
}
body {
    width: 98%;
    height: 80%;
    font-family: "Helvetica Neue";
}

.back {
    display:grid;
}
.text {
    display:grid;
}
p {
    padding: 5px;
}