* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura";
    text-decoration: none;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 20px;
}

.navbar a {
    color: #f2f2f2;
    background: black;
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background: gray;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar li:hover .subblock > li {
    display: block;
}

.subblock {
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.subblock li {
    display: none;
    position: relative;
}

.subblock li:hover .subblock-2 li {
    display: block;
}

.subblock-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 120px;
}

.subblock-2 li {
    display: none;
}

.pointer {
    margin-left: 5px;
    color: #eee;
    font-size: 10px;
}

.main {
    line-height: 30px;
    padding: 10px;
}

.main h3 {
    padding-left: 30px;
}

.main a {
    text-decoration: none;
    color: black;
}

#columns {
    width: 100%;
}

TD {
    vertical-align: top;
    padding: 5px;
}

TD#leftcolumn {
    width: 50%;
    border: outset #cccccc;
}

TD#rightcolumn {
    width: 50%;
    border: outset #cccccc;
}
.bg{
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.myth{
    background-color:#009BD1;
}
.persona{
    background-image: url("repeat-shape.jpg");
}
.myth1{
    background-color:black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}