body {
    font-family: "Helvetica Neue";
    color: white;
}
p{
    font-family: "Helvetica Neue";
}
.bg2{
     background-image: url("https://lh3.googleusercontent.com/proxy/I");
     height: 90%;
     background-position: center;
     background-color: black;
    background-size: cover;
    width: 90%;


 }
.bg1{
    height: 100%;
    background-position: center;
    background-color: black;

}