
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');



body {
    font-family: "Helvetica Neue";
    color: black;
}

.h1{
    color: red;
    margin: 5px;
    background-color: blue;
    border-style: dotted;
    border-color: yellow;
    padding: 10px;
}
.img1{
    border: 10px black;
    border-bottom-style: dashed;
    border-radius: 25px;
}
.img2{
    width: 50%;
    height: 50%;
    border: 10px black;
    border-radius: 25px;
    border-bottom-style: dashed;
}

.div{
    text-align: center;
    background-color: aqua;
    margin: 25px 25px 25px 25px;
    padding: 15px 15px 15px 15px;
}
.textibu {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.texttwo1{
    text-indent: 50px;

}
.texttwo2{
    letter-spacing: 5px;
    word-spacing: 10px;
}
.texttwo3{
    text-transform: capitalize;
}

.texttwo4{
    text-transform: lowercase;
}
.texttwo5{
    text-transform: uppercase;
}
.texttwo6{
    line-height: 10;
}
.texttwo7{
    text-shadow: 3px 3px 3px deeppink;
    yellow;
}

