
.flex31{
    display: flex ;
    position:absolute;
    left:30%;
    width:35%;
    height:660px;
    flex-flow: column;
    opacity: 1;
}
.fl{text-align: center;
    color:white;
    width:100%;
    font-size: 1.2em;
}
.flex-item31{
    width:100%;
    text-align: center;
}

.bg{
    background-size: cover;
}
body{
    font-family: "Helvetica Neue";

.bgdiv{
    background-image: url("https://66.media.tumblr.com/1bec579e8690a7c5cda52f6db4ae0271/tumblr_odkojhucm71r68v93o1_1280.jpg");
    height: 90%;
    width: 90%;