
body{
    font-family: "Helvetica Neue";
}


.box1{
    background-color: navy;
    height: 30%;
    width: 100%;
    color: white;
    padding: 50px 0 0 0;
}

.h1{
    padding: 0px 0 0 40px;
}

.text1{
    float: left;
}

.figure1{
    float: right;
    width: 30%;
    height: 70%;
    margin: 10px 50px 10px 10px;
    background-color: navy;
}

.second{
    height: 30%;
    padding: 10px 10px 10px 10px;
}

.box2{
    width: 65%;
}

.text2{
    float: left;
    color: #445162;
    padding: 10px 0 0 25px;
}

.figure2{
    float: right;
    width: 25%;
    height: 75%;
    margin: 30px 40px 10px 10px;
    padding: 10px 30px 10px 10px;
    background-color: navy;
}

.box3{
    background-color: deepskyblue;
    height: 60%;
    color: black;
    padding-top: 10px;
    font-family: "Helvetica Neue";
    font-weight: bolder;
}
.box4{
    float: left;
    width: 50%;
    background-color: deepskyblue;
    padding-left: 350px;
}

.contacts{
    text-align: center;
}

.button{
    border-radius: 4px;
    width: 75px;
    height: 25px;
}

input{
    height: 25px;
    width: 400px;
}
*{
    box-sizing: border-box;
}
.msg{
    height: 100px;
    padding-left: 10px;
}

.pdg{
    font-family: "Helvetica Neue";
    padding-left: 10px;
}

button{
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    padding: 20px 50px 20px 50px;
}
.button{
    margin-left: 130px;
}

.box5{

    margin-left: 70px;
    float: left;
}


.footer{
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: silver;
    color: black;
    text-align: center;
}