
body{
    font-family: "Helvetica Neue";
    font-weight: bold;
}
.box1{
    background-color: blue;
    color: white;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 40px;
    float: top;
    padding-top: 25px;

}
.box2{
    background-color: navy;
    float: left;
    color: white;
    width: 15%;
    height: 800px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 10px 5px 10px;
}
.box3{
    color: black;
    float: top;
    padding: 25px 0 0 300px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: silver;
    color: black;
    text-align: center;
}
