
.box1{
    background-color: navy;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    color: white;
    float: left;
    width: 25%;
    border: 1px solid black;
    padding: 5px 5px 15px 15px;
}
.box2{
    background-color: blue;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    float: left;
    width: 25%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 5px 15px 15px;
}
body{
    font-family: "Helvetica Neue";
    margin: 0;
    color: white;
}

