image {
    border: 2px black;
    float: left;
    width: 50%;



}

div.image img {
    width: 100%;
    height: auto;
}

div.discr {
    padding: 15px;
    text-align: center;
}

h1{
    font-family: Didot;
    text-transform: capitalize;
    text-align: center;
}
h2{
    font-family: Didot;
    text-transform: capitalize;
    text-align: center;
}

.titlepage{
    margin-left: 25%;
    border: 3px black;
    width: 50%;
}
div.titlepage img {
    width: 100%;
    height: auto;

.contents{
float: left}
}

<style type="text/css">
body {background: #EFE9C5; margin: 1% 15% 10% 15%; text-align:justify;}
hr {width: 25%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
p {font-family: Didot;
    font-size:1.35em;
text-align: center
}
h1,h2,h3,h4,h5,h6 {color:green;
    text-align:center;
}


.imagelp{
    float:left;
    margin: 7px 7px 7px 0;
}
.bgi{
    background-image: url("https://i.pinimg.com/564x/3e/90/96/3e9096cbfe7b0d9de091481bf4fa78ed.jpg");
}
.text{
    margin-left: 25%;
    border: 3px black;
    width: 50%;
}