
.body {
    font-family: "Helvetica Neue";
    font-size: 15px;
    width: 25%;
    margin: auto;
    line-height: 25px;
}

legend{
font-size: large;
    font-weight: bold;
}

.input-right{

    float: right;
}

.input-left{
    float:left;
}
button{
    margin-left: 45%;
}
.block1{
    background-color: deepskyblue;
    height: 50px;
    width: 100px;
}
