
.body {
    font-family: "Helvetica Neue";
    font-size: 15px;
    width: 45%;
    margin-top: 150px;
    margin-left: 150px;
    line-height: 30px;
}

legend{
    font-size: large;
    font-weight: bold;
}

.input-right{
    float: right;
}

.input-left{
    float:left;
}
button{
    margin-left: 45%;
}
.block1{
    background-color: deepskyblue;
    height: 50px;
    width: 100px;
}
.insert-role{
    margin-left: 400px;
    
}
.button-left{
    float: left;
}
}
.button-right{
    float: inherit;
}

.input-check{
    margin-left: 250px;
}
.button {
    float: bottom;
    padding-left: 25%;
    ;
}.input-inh {
     float: inherit;
 }